body{
    background-color: #E7E2D9;
}

.container{
    max-width: 1300px;
    margin: 0 auto;
}

/*header du site*/

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header div{
    display: flex;
    align-items: center;
}

header h1{
    font-family: "Ultra", serif;
    font-weight: 400;
    font-size: 3.5rem;
    font-style: normal;
    margin: 40px;
}

header h3{
    font-family: "Ultra", serif;
    font-weight: 400;
    font-size: 2.5rem;
    margin: 0;
    font-style: normal;
    color: #ff8300;
    text-align: center;
    margin-top: 13px;
}

header img{
    width: 10%;
    height: 10%;
}

.border{
    border-bottom: solid 1px black ;
}


/*presentation*/

.presentation {
    display: flex;
    margin-top: 100px;
    align-items: center;
    justify-content: space-between;
}

.text-groupe{
    background-color: #E3DCCE;
    width: 45%;
    height: auto;
    padding: 15px;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.presentation img {
    width: 40%;
    padding: 10px;
    border: solid 4px black ;
}

#btn{
    text-decoration: none;
    color: black;
    background-color: #F8F2E8;
    border-radius: 1em;
    padding: 15px 70px;
    border: #F8F2E8;
    font-size : 1rem;
    transition: all 1s;
}

#btn:hover{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}