body{
    margin : 0;
    padding: 0;
}
a {
    text-decoration: none;
    color : black;
}

#readMoreContainer {
    display: grid; 
    grid-template-rows: 0fr; 
    min-height: 0;
    margin-top: 15px;
    margin-bottom: 15px;
  transition: visibility 1s;
  transition: grid-template-rows 1s;}

#readMoreContainer .expanded{
grid-template-rows: 1fr;
visibility: visible;
    }

#Gorillaz h3{
    color: #8b3537;
    
}

#Gorillaz img{
        border: solid 4px #751f25;
        border-image: linear-gradient(#8b3537, #751f25) 1;

}

#Blur img{
    border: solid 4px #FF8300;
        border-image: linear-gradient(#FF8300 0%, #F3AE40) 1;

}

#Blur h3{
    color : #FF8300;
}

header{
    border : none;
}

body{
    font-family:  "Poppins", sans-serif;
}
footer{
    margin : 0;
    margin-top: 150px;
    position : relative;
    bottom : 0;
}
footer nav{
    
    display : grid;
    margin : 0 auto;
    grid-template-columns: repeat(3,1fr);
}

footer a {
    position : relative;
    
}

footer .hover{
    position: absolute;
    top : 0;
    left : 0;
    transition: 0.2s;
    text-align: center;
    width: 100%;
    opacity: 0;
    height: 100%;
    transform-origin: bottom ;
}

footer .hover h3{
     font-family: "Ultra", serif;
     font-size: 2rem;
     letter-spacing: 10px;
}
footer img{
    width : 100%;
    height: 640px;
    object-fit: cover;
    display: block;
    transform-origin: bottom ;
    z-index: 0s;
    transition: 0.2s;

}

.hover p{
    margin: 15%;
}

.hover.blur{
    background: linear-gradient(90deg,#FF8300 0%, #F3AE40 100%);
color : white;
box-shadow: 0px 0px 15px 10px #FF8300;
}

.hover.blur button {
        background-color: #FF8300;
        box-shadow: 0px 0px 15px 5px #F3AE40;
}

.hover.gorillaz{
background: linear-gradient(90deg,#8b3537 0%, #751f25 100%);
color : white;
box-shadow: 0px 0px 15px 10px #751f25;
}

.hover.gorillaz button {
        background-color: #8b3537;
        box-shadow: 0px 0px 15px 5px #751f25;
}

.hover.thequeen{
background: linear-gradient(90deg,#03954C 0%, #3DE08E 100%);
color : white;
box-shadow: 0px 0px 15px 10px #03954C;
}

.hover.thequeen button{
        background-color: #3DE08E;
        box-shadow: 0px 0px 15px 5px #03954C;
}


.hover button{
    color : white;
    border-radius: 5rem;
    border : none; 
    font-size: 1.5rem;

    padding: 10px 20px 10px 20px;
}

a:hover .hover, a:hover img{
    display: block;
    transform: scaleY(1.1);
    object-fit: cover;
    z-index: 100;
    opacity: 0.8;
    
}

.albums{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin-top : 70px
   
}

.player_spotify{
    margin : 35px;
    max-width:548px ;
}

 a:hover img{
filter: blur(3px);
 }


    