body{
    background-color: #E7E2D9;
}

.container{
    max-width: 1300px;
    margin: 0 auto;
}

/*header du site*/

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header h1{
    font-family: "Ultra", serif;
    font-weight: 400;
    font-size: 3.5rem;
    font-style: normal;
}

header img{
    width: 10%;
    height: 10%;
}

.border{
    border-bottom: solid 1px black ;
}


/*presentation*/

.presentation{
    display: flex;
    margin-top: 150px;
    align-items: center;
    justify-content: space-between;
}

.text-groupe{
    background-color: #E3DCCE;
    width: 35%;
    height: auto;
    padding: 15px;
}

.img-groupe img{
    width: 50%;
}

#btn{
    align-items: center;
    text-decoration: none;
    color: black;
    background-color: #F8F2E8;
    border-radius: 1em;
    padding: 5px 15px;
    border: #F8F2E8;
}