body{
    margin : 0;
    padding: 0;
}
a {
    text-decoration: none;
    color : black;
}

body{
    font-family:  "Poppins", sans-serif;
}
footer{
    margin : 0;
    margin-top: 150px;
    position : relative;
    bottom : 0;
}
footer nav{
    
    display : grid;
    margin : 0 auto;
    grid-template-columns: repeat(3,1fr);
}

footer a {
    position : relative;
}

footer .hover{
    position: absolute;
    top : 0;
    left : 0;
    transition: 0.2s;
    width: 100%;
    opacity: 0;
    height: 100%;
    transform-origin: bottom ;
}
footer img{
    width : 100%;
    height: 640px;
    object-fit: cover;
    display: block;
    transform-origin: bottom ;
    z-index: 0s;
    transition: 0.2s;

}

.hover.blur{
    background: linear-gradient(90deg,#FF8300 0%, #F3AE40 100%);

box-shadow: 0px 0px 15px 10px #FF8300;
}

.hover.gorillaz{
background: linear-gradient(90deg,rgba(0, 172, 217, 1) 0%, rgba(55, 60, 172, 1) 100%);
color : white;
box-shadow: 0px 0px 15px 10px #373CAC;
}

.hover.thequeen{
background: linear-gradient(90deg,#03954C 0%, #3DE08E 100%);
color : white;
box-shadow: 0px 0px 15px 10px #03954C;
}
a:hover .hover, a:hover img{
    display: block;
    transform: scaleY(1.1);
    object-fit: cover;
    z-index: 100;
    opacity: 0.7;
    
}

 a:hover img{
filter: blur(3px);
 }


    